/* h2 { 
    color: greenyellow;
    background-color: blueviolet;
} */

body {
    background-color: rgb(170, 147, 212);
}

/* Alpha channel edits opacity (transperency) */


h1 {
    font-size: 6rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: nosifer;

}

h2 {
    font-size: 3rem;
    text-decoration: underline dashed;
    text-transform: capitalize;
}

h3{
    font-size: 3rem;
    color: red;
    text-transform: capitalize;
    font-weight: 300;
    text-shadow: 5px 5px cyan;
    /* text-shadow: 5px 5px 5px maroon; */
}

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}


section {
    font-size: 0.5rem;
}

a {
    text-decoration: underline dashed black;
}

nav a{

}

.poem{
    /* .class to style by class */
}

h2 + h3{
    /* adjacent selector */
}

li:last-of-type{
    background-color: aquamarine;
}
nav li:nth-of-type(2n){
    background-color: lightcoral;
}

nav li:nth-of-type(2n + 1){
    background-color: lavender;

}

.poem section p:first-of-type::first-letter{
    font-size:2em;
}

p::first-line{
    color: yellowgreen;
}

input:focus::placeholder {
    color: grey;
    font-size: 2em;
}

/* specificity */

h3{
    color: aqua;
}

body section h2 + h3 {
    color: orangered;
}

.poem #author{
    color: blueviolet;

}

#author{
    color: brown;
}

