h1{
    background-color: lavender;
    width: 40%;
    border-bottom: 10px solid blueviolet;
    text-align: center;
    margin: 1rem auto;
}

h2{

    background-color: blanchedalmond;
    width: 20%;
}

img{
width: 40%;
max-width: 300px;
border-color: blue;
border-width: 10px;
border-style: dashed solid;
border-right-width: 5px;
margin: 0 30px;
}

p{
    width: 40%;
    min-width: 500px;
    padding: 1rem;
}

#container {
    border: 1px solid black;
}

#container .item {
    height: 100px;
    border: 1px solid orangered;
    padding: 5px;
    margin: 50px;
    box-sizing: border-box;
}

#container .item:hover{
    border: 10px solid olive;
}

#container .item:nth-of-type(2) {
    margin-left: 2em;
}



