/* Code to style the entire document, including background. */
body{
    background: radial-gradient(circle, rgba(200,173,46,1) 0%, rgba(103,103,103,1) 50%, rgba(180,177,158,1) 69%);
    font-family:  "Kotta One",'Times New Roman', Times, serif; /*font family selected for structure a legibility across different systems.  */
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    color: black;
}

/* Styling added to emphasize the main heading. */
h1{
    font-family: "Lucida Console", Courier, monospace;
    font-size: 2.5rem;  /* Added a larger font size to emphasize heading from rest of elements */
    text-align: center;
    line-height: 1;
    text-transform: capitalize;
    text-shadow: 5px 5px 5px azure;

}

/* Stylying added to sub headings. */
h2{
    font-size: 2.0rem;
    font-weight: bold;
    text-decoration: underline dashed;


}

/* Styling added to other sub headings */
h3{
    font-size: 1.6rem;
}

/* Styling added to paragraphs */
p{
    font-size: 1.2rem;
}

/* Styling added to lists. */
li{

    font-size: 1.2rem;
}

/* Styling added to tables text. */
table{

    font-size: 1.2rem;
}

th{
    font-size: 1.4rem;
}


/* Styling added to forms text. */
form{

    font-size: 1.2rem;

}

/* Removed underline and added styling to text. */
a{
    text-decoration: none;
    font-weight: bold;
    color: azure;
}

